{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",

    "MARKETPLACE_TENANT_ID": "<dezrez-tenant-id>",
    "MARKETPLACE_FULFILLMENT_CLIENT_ID": "<fulfillment-app-client-id>",
    "MARKETPLACE_FULFILLMENT_CLIENT_SECRET": "<fulfillment-app-client-secret>",
    "MARKETPLACE_BUYER_CLIENT_ID": "<buyer-app-client-id>",
    "MARKETPLACE_SAAS_RESOURCE_ID": "20e940b3-4c77-4b0b-9a53-9e16a1b010a7",
    "MARKETPLACE_STORAGE_CONNECTION": "UseDevelopmentStorage=true",
    "MARKETPLACE_TABLE_NAME": "MarketplaceSubscriptions"
  }
}
